#Questions

1. The way of storing data so that it can be efficiently stored, accessed and manipulated is termed as data structure.

Why is data structures important?
=> Data structures is important because it provides with the methodologies that how different data oriented operations can be performed, so that the desired output can be obtained.

For example:-> When i need to store details about myself that are static like that won't be changed such as my **Aadhar Card Number**, **Pan Card Number**, **10th/12th/UG marks** and etc. then i can use **Tuple** data structure.

So, this was about the data structure and their importance.

2. Difference between mutable and immutable datatypes

Mutable Data Types:-> Those data structures whose values can be changed during the run-time or there after are Mutable Data Types or in simpler words the dynamic data types are termed to be as Mutable Data Types. Their values can be changed by indexing the specific elements and replacing them with a corresponding new value.

Immutable Data Types:-> Those data structures whose values can not be changed neither during run-time nor there after are Immutable Data Types. They are specifically can be described as the static data types. Since they are static data types, their values can not be changed by any way possible.

An example of mutable data types is LIST, DICTIONARY data structure because in both the data structure their values can be accessed and changed correspondingly.

An example of immutable data types is TUPLE because in TUPLE we can't change the corresponding value once stored.

3. Lists and Tuples in Python

Lists:-> Lists data structure in python is a heterogenous data structure in python tha can store data of different data types that is enclosed within a square brackets []. A list is a mutable data structure that means it's values can be changed once accessed. User-input works in list data structure by using the append fucntion in list. List can be considered as of dynamic natured data type as it's value can be changed when required.

Tuples:-> Tuples data structure in python is a heterogenous data structure in python tha can store data of different data types that is enclosed within a paranthesis (). A tuple is a immutable data structure that means it's values can not be changed if accessed. User-input does not works in tuple data structure. Tuple can be considered as of static natured data type as it's value can not be changed.

So this was all about Lists and Tuples data structure.

4. Dictionary data structure in python

Dictionary:-> Dictionary data structure in python is a data structure that stores data in the form of Key-Value pair. The key-value pair means that for each key element in the dictionary, there is a corresponding value in that dictionary such that it's value can be accessed. Dictionary is also a heterogenous data structure.

In a dictionary, a key must always be a unique value that should not be any other data structure apart from string or integer but the value can be any value such as string, integer, list, tuple or any other data type.

A dictionary is represented by **curly brackets {}** such that value is stored like this:->

Dict = {"Name":"Abhay", "Course":"DS", "Age":21}

Here, the keys are **Name, Course and Age** and the values are **Abhay, DS and 21**.

So, this was all about dictionary in python.

5. Use-case of set over list in python.

Set:-> A set is a heterogenous data structure in python that stores unordered-unique values in it. A set data structure in python is represented using **curly brackets {}** in python similar to what dictionary data structure's representation is.

When will we use set over list?
=> Let us consider there is an engineering conference and in that conference we want to see what all branch students are present there rather than knowing all the students name. So, if we created the list data structure then it stores multiple times that students are from **CSE, EEE or any other branch** what we can do is we can create a set data structure that we can create set and if we enter multiple times similar values, then it will display those similar values only one time.

So, this is the use-case of set data structure

6. A string is a data structure in python that is enclosed within the quotes whether it is single quotes **' '** or double quotes **" "** or triple quotes **''' '''** anything inside these would be considered as string.

In very laymen of the terms, strings can be understood as a **sentence**, a simple english sentence that is written to inside quotes is termed as strings. Multiple operations can be performed on such strings such as concatenation, traversal, reveresal and etc.

How is a string different from list?

Although the major of the difference lies that string stores it's data in quotes and the list stores it's in square brackets [], rest both of the data types are same, but lists are mutable and strings are immutable, can be accesed and all.

So this was all about it.

7. Tuples ensures data integrity in python can be understood by the simple term that tuple data structure is immutable data structure that is the values inside tuples can not be changed at any cost.

The most useful of the details about one such as Aadhar card number, pan card number or any other useful details can not be changed if exists inside tuple.

So, this is how tuples ensure data integrity in python.

9. Yes, list can contain different data types in python because of the fact that list data structure is heterogenous in python which eventually means that it contains and can contain different data types in itself making it a reliable data structure.

An example of a list data structure is given below:->

lst = [1, 2.2, "A", "Hello World!", True]
lst
[1, 2.2, "A", "Hello World!", True]

11. Dictionary over lists in python

Dictionary is preferred over lists in python when meaningful interpretation of the data is required.

For example, think of dictionary as a diary we used to store information. So just like when we switch to page with title **P** in dictionary, we know that all the relevant piece of information starting of with **P** is obtained, such as with **P** starts Password, so all the relevant Passwords can be obtained from it, so a meaningful interpretation can be obtained from it whereas in lists if we write **lst[0]**, then no meaningful interpretation is obtained such as what does it means and which element is there at index 0, so for meaningful interpretation list data structure is used.

So, this was all about it.

12. Let us assume that i am applying for a company's interview where i want to fill in my important details. In that i want to enter those details that are static, won't change ever such as my Aadhar Card Number, Pan Card Number, 10th/12th/UG marks, Bank details and etc. then i can use Tuple data structure.

So, in short for all those details which do not change at all then in that case i can use Tuple data structure.

13. Sets handling duplicate values.

When we input multiple values in a set data structure that are same/similar, then we can easily rely on the set data structure.

Let us consider there is an engineering conference and in that conference we want to see what all branch students are present there rather than knowing all the students name. So, if we created the list data structure then it stores multiple times that students are from CSE, EEE or any other branch what we can do is we can create a set data structure that we can create set and if we enter multiple times similar values, then it will display those similar values only one time.

So, this is about set data structure.

14. When we talk about in operator use-case in lists and dictionaries

With lists:-> When we consider with lists, then we know that it checks whether or not if an element is present in the list or not.

For example:->

lst = ["apple", "banana", "mango"]
"mango" in lst

It returns True as the output.

With dictionaries:-> When we consider with dictionaries, then we must know that rather than checking for both the key-value pair, it checks whether or not if the key is present in the list or not. This prevents from data duplicacy as well because there can be multiple similar types of values in a dictionary for different keys, but there is always a unique key for a particular value, so it's important to check for that.

For example:->

dict = {"apple": "1 Kg", "banana":"2 Dozen", "mango":"1 Kg"}
"mango" in lst

It returns True as the output.

So, this was all about it.

15. From the concept of Tuples we know that, Tuple data structure is immutable in python which means that once the values are stored in a tuple data structure, then it's elements can be accessed but can not be changed.

Therefore, it's values can not be modified because of it being immutable in python.

16. As the name suggests, a dictionary inside an already existing dictionary is termed to be as a Nested dictionary. In a nested dictionary, the keys must not be dictionary, as if it happened then it will result in an error.

In a nested dictionary, the value corresponding to the particular key must only be a dictionary.

Example of a nested dictionary:->

dict = {"Pencil": 5, "Notebook": 10, "Uniform":{"Formals": 1, "House Dress": 1, "Tracksuit": 1}}

Accessing the elements:->

dict = {"Pencil": 5, "Notebook": 10, "Uniform":{"Formals": 1, "House Dress": 1, "Tracksuit": 1}}
dict["Uniform"]["House Dress"]

will give

1 as the output

The use-case of nested dictionary is when we need to store large data or large piece of information into a single dictionary like what i described as a dictionary with initials on top like A, B, C, D or etc.

So, this was all about it.

17. Time complexity of accessing elements in a dictionary is O(1) because of the fact that it is independent of the time constraint or the size of the dictionary.

So, this was all about it.

18. Lists are preferred over dictionaries when operations on sequential data is to be performed such as iterating over a for loop or while loop or any other sequential operation is to be performed, then in that case lists are preferred over dictionaries.

So, this was all about it.

20. Difference between list and dictionary in terms of data retrieval.

When we talk about data retrieval we know that in list we retrieve data by using the index number alloted to that particular element.

For example:->

lst = [1, 2, 3, 4, 5]
lst[0]

It will result into 1

So, we are retrieving the data using the index number alloted to it.

But when we talk about in dictionary, then retrieval is done using the keys of that corresponding dictionary to get the corresponding values of that keys.

For example:->

dict = {"apple": "1 Kg", "banana":"2 Dozen", "mango":"1 Kg"}
dict["apple"]

It will result into '1 Kg'.

So, we are retrieving the data(value in this scenario) using the corresponding key of the dictionary.

So, this was all about it.

#Code

In [ ]:
#Q1

name = input("Enter your name:-> ")
print(f"My name is {name}")

Enter your name:-> Abhay
My name is Abhay

In [ ]:
#Q2

str =  "Hello World"
print("The length of string is", len(str))

The length of string is 11

In [ ]:
#Q3

str = "Python Programming"
sliced = str[:3]
print(sliced)

Pyt

In [ ]:
#Q4

str = "hello"
print(str.upper())

HELLO

In [ ]:
#Q5

str = "I like apple"
str.replace("apple", "orange")
print(str)

I like apple

In [ ]:
#Q6

i = 1
lst = []
while(i < 6):
  lst.append(i)
  i = i+1

print(lst)

[1, 2, 3, 4, 5]

In [ ]:
#Q7

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#Q8

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#Q9

lst = ["a", "b", "c", "d"]
print(lst[1])

b

In [ ]:
#Q10

lst = [10, 20, 30, 40, 50]
new_lst = []
i = len(lst)
while(i > 0):
  new_lst.append(lst[i-1])
  i = i-1
print(new_lst)

[50, 40, 30, 20, 10]

In [2]:
#Q11

tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [3]:
#Q12

tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [4]:
#Q13

tup = (10, 20, 5, 15)
print(min(tup))

5

In [5]:
#Q14

tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [6]:
#Q15

tup = ("apple", "mango", "banana")
"kiwi" in tup

False

In [9]:
#Q16

s = {'a', 'b', 'c'}
s

{'a', 'b', 'c'}

In [10]:
#Q17

s = {1, 2, 3, 4, 5}
s.clear()

In [12]:
#Q18

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [13]:
#Q19

s1 = {1, 2, 3}
s2 = {3, 4, 5}

print(s1 | s2)

{1, 2, 3, 4, 5}

In [14]:
#Q20

s1 = {1, 2, 3}
s2 = {2, 3, 4}

print(s1 & s2)

{2, 3}

In [15]:
#Q21

dict = {"name": "Abhay", "age": 21, "city": "Delhi"}
print(dict)

{'name': 'Abhay', 'age': 21, 'city': 'Delhi'}

In [16]:
#Q22

dict = {'name': 'John', 'age': 25}
dict["county"] = "USA"

print(dict)

{'name': 'John', 'age': 25, 'county': 'USA'}

In [17]:
#Q23

dict = {'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [18]:
#Q24

dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']

print(dict)

{'name': 'Bob', 'city': 'New York'}

In [19]:
#Q25

dict =  {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [22]:
#Q26

#Creation of a list

i = int(input("Enter how many list elements you want:-> "))
lst = []
while(i > 0):
  lst.append(input("Enter the element:-> "))
  i = i-1

#Creation of a tuple:-> User input does'nt works in tuple because of it being of immutable type.

tup = (1, 2.2, "Hello World", True)

#Creation of a dictionary

i = int(input("Enter how many dictionary elements you want:-> "))
dict = {}
while(i > 0):
  key = input("Enter the key:-> ")
  value = input("Enter the value:-> ")
  dict[key] = value

  i = i-1

#Printing the list

print(lst)

#Printing the tuple

print(tup)

#Printing the dictionary

print(dict)

Enter how many list elements you want:-> 5
Enter the element:-> 1
Enter the element:-> 2.2
Enter the element:-> Hello World
Enter the element:-> True
Enter the element:-> ["Apple", 1, 2.2, True]
Enter how many dictionary elements you want:-> 3
Enter the key:-> School
Enter the value:-> Delhi
Enter the key:-> College
Enter the value:-> Noida
Enter the key:-> Office
Enter the value:-> Greater Noida
['1', '2.2', 'Hello World', 'True', '["Apple", 1, 2.2, True]']
(1, 2.2, 'Hello World', True)
{'School': 'Delhi', 'College': 'Noida', 'Office': 'Greater Noida'}

In [23]:
#Q27

i = 5
lst = []
while(i > 0):
  num = int(input("Enter a random number between 1 - 100:-> "))
  lst.append(num)
  i = i-1

print(sorted(lst))

Enter a random number between 1 - 100:-> 43
Enter a random number between 1 - 100:-> 21
Enter a random number between 1 - 100:-> 2
Enter a random number between 1 - 100:-> 78
Enter a random number between 1 - 100:-> 49
[2, 21, 43, 49, 78]

In [24]:
#Q28

lst = []
i = int(input("Enter for how many times you want to run the loop:-> "))
while(i > 0):
  var = input("Enter a string:-> ")
  lst.append(var)
  i = i-1

print(lst[3])

Enter for how many times you want to run the loop:-> 10
Enter a string:-> 1
Enter a string:-> Abhay
Enter a string:-> BVCOE
Enter a string:-> BTech
Enter a string:-> 5.6
Enter a string:-> True
Enter a string:-> Delhi
Enter a string:-> Data Science
Enter a string:-> PW Skills
Enter a string:-> Python Programming
BTech

In [25]:
#Q29

dict1 = {"name": "Abhay", "age": 21, "city": "Delhi"}
dict2 = {"DOB": "05-03-2004", "College": "BVCOE", "Year of Graduation": 2026}

dict1.update(dict2)

print(dict1)

{'name': 'Abhay', 'age': 21, 'city': 'Delhi', 'DOB': '05-03-2004', 'College': 'BVCOE', 'Year of Graduation': 2026}

In [26]:
#Q30

lst = ["1", "Abhay", "BVCOE", "1", "DS-PW Skills", "DS-PW Skills", "Python Programming"]
print(set(lst))

{'BVCOE', 'Python Programming', 'Abhay', 'DS-PW Skills', '1'}